# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite
*.sqlite-journal

# Editor files
.project
.pydevproject
.idea/*
__MACOSX/*
.ropeproject
.coverage

# Other
.DS_Store
bower_components/
static_root/
media/
ghostdriver.log
npm-debug.log
node_modules

.env
.hypothesis/

*.css

htmlcov

static/js/dist/directory.js

.sass-cache
